* {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  border: 10px solid black;
  border-radius: 10px;
  width: 25vw;
  max-width: 400px;
  height: auto;
  min-height: 500px;
  min-width: 250px;
  transition: all 0.3s ease;
}
.main:hover {
  transform: translateY(-5px);
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
}

.main-header h2 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.main-form {
  display: flex;
  justify-content: left;
  align-items: stretch;
  margin-left: 20px;
  gap: 10px;
}

.main-form input[type="text"] {
  width: 80%;
  padding: 5px;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.main-form button {
  width: 45px;
  background-color: white;
  background-image: url(img/plus.png);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.main-form button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.content {
  text-align: center;
  margin-top: 10px;
}
